<a href="https://colab.research.google.com/github/Moysezg/SIMULACION-II-PROGRAMAS-Y-PROYECTOS/blob/main/One.hot%20RLM%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [25]:
import pandas as pd
import numpy as np
import xlrd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter

In [26]:
from google.colab import drive

# Montar Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
from google.colab import files
from google.colab import drive

# Montar Google Drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
import pandas as pd

# Leer el archivo Excel desde Google Drive (asegúrate de haber montado Google Drive primero)
ruta_archivo = '/content/drive/MyDrive/BASE DE DATOS CDMX.xlsx'
df = pd.read_excel(ruta_archivo)

# Obtener la forma del DataFrame
forma_df = df.shape


print("Forma del DataFrame:")
print(forma_df)

Forma del DataFrame:
(1070, 18)

In [29]:
# Mostrar los primeros cinco renglones del DataFrame
primeros_renglones = df.head()

print("Primeros cinco renglones del DataFrame:")
print(primeros_renglones)

Primeros cinco renglones del DataFrame:
       PRECIO    ALCALDIA   SUPERFICIE CUARTOS   BANOS ESTACIONAMIENTO  \
0   3,900,000  IZTAPALAPA  100 m² tot.  3 rec.  1 baño        1 estac.
1   1,985,000  IZTAPALAPA  111 m² tot.  2 rec.  1 baño         0 estac
2   1,600,000  IZTAPALAPA  120 m² tot.  2 rec.  1 baño         0 estac
3   2,800,000  IZTAPALAPA  152 m² tot.  3 rec.  1 baño        1 estac.
4     1300000  IZTAPALAPA  170 m² tot.  2 rec.  1 baño        1 estac.

                                                 URL  Unnamed: 7  Unnamed: 8  \
0  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
1  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
2  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
3  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
4  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN

   Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  \
0         NaN          NaN          NaN          NaN          NaN
1         NaN          NaN          NaN          NaN          NaN
2         NaN          NaN          NaN          NaN          NaN
3         NaN          NaN          NaN          NaN          NaN
4         NaN          NaN          NaN          NaN          NaN

   Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17
0          NaN          NaN          NaN            1
1          NaN          NaN          NaN            2
2          NaN          NaN          NaN            3
3          NaN          NaN          NaN            4
4          NaN          NaN          NaN            5

In [30]:
import pandas as pd

# Leer el archivo Excel desde Google Drive
ruta_archivo = '/content/drive/MyDrive/BASE DE DATOS CDMX.xlsx'
df = pd.read_excel(ruta_archivo)

# Aplicar la codificación one-hot a la columna 'ALCALDIA'
df_codificado = pd.get_dummies(df, columns=['ALCALDIA'])

# Mostrar los primeros registros del DataFrame codificado
print("\nDatos codificados:")
print(df_codificado.head())

Datos codificados:
       PRECIO   SUPERFICIE CUARTOS   BANOS ESTACIONAMIENTO  \
0   3,900,000  100 m² tot.  3 rec.  1 baño        1 estac.
1   1,985,000  111 m² tot.  2 rec.  1 baño         0 estac
2   1,600,000  120 m² tot.  2 rec.  1 baño         0 estac
3   2,800,000  152 m² tot.  3 rec.  1 baño        1 estac.
4     1300000  170 m² tot.  2 rec.  1 baño        1 estac.

                                                 URL  Unnamed: 7  Unnamed: 8  \
0  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
1  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
2  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
3  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN
4  https://www.inmuebles24.com/propiedades/clasif...         NaN         NaN

   Unnamed: 9  Unnamed: 10  ...  Unnamed: 13  Unnamed: 14  Unnamed: 15  \
0         NaN          NaN  ...          NaN          NaN          NaN
1         NaN          NaN  ...          NaN          NaN          NaN
2         NaN          NaN  ...          NaN          NaN          NaN
3         NaN          NaN  ...          NaN          NaN          NaN
4         NaN          NaN  ...          NaN          NaN          NaN

   Unnamed: 16  Unnamed: 17  ALCALDIA_BENITO JUAREZ  ALCALDIA_CUAUTHEMOC  \
0          NaN            1                   False                False
1          NaN            2                   False                False
2          NaN            3                   False                False
3          NaN            4                   False                False
4          NaN            5                   False                False

   ALCALDIA_GUSTAVO A. MADERO  ALCALDIA_IZTAPALAPA  ALCALDIA_MIGUEL HIDALGO
0                       False                 True                    False
1                       False                 True                    False
2                       False                 True                    False
3                       False                 True                    False
4                       False                 True                    False

[5 rows x 22 columns]

In [31]:
import pandas as pd

# Leer el archivo Excel desde Google Drive
ruta_archivo = '/content/drive/MyDrive/BASE DE DATOS CDMX.xlsx'
df = pd.read_excel(ruta_archivo)

# Aplicar la codificación one-hot a la columna 'ALCALDIA'
df_codificado = pd.get_dummies(df, columns=['ALCALDIA'])

# Especificar la ruta y el nombre del nuevo archivo Excel
ruta_nuevo_excel = '/content/drive/MyDrive/BASE DE DATOS CDMX_Codificado.xlsx'

# Guardar el DataFrame codificado en un nuevo archivo Excel
df_codificado.to_excel(ruta_nuevo_excel, index=False)

print(f"DataFrame codificado guardado en: {ruta_nuevo_excel}")

DataFrame codificado guardado en: /content/drive/MyDrive/BASE DE DATOS CDMX_Codificado.xlsx